@charset "utf-8";

* 
{box-sizing: border-box; margin: 0; padding: 0;}

html 
{ scroll-behavior: smooth; font-size: 62.5%; }

/* element */
img
{vertical-align: top; border: 0;}

a 
{text-decoration: none; color: #222;}

ol, ul 
{list-style: none;}

table 
{border-collapse: collapse; width: 100%;}

input, select, fieldset, textarea 
{border: 0; outline: none; }

legend, caption 
{display: none;}

button, input 
{ background: transparent; border: none;}

/* font-style */
address, i, em 
{ font-style: normal; }

h1, h2, h3, h4, h5, h6, b, strong 
{ font-weight: normal; }


